<div class="container padding-box">
  <div class="container">
    <div class="box-header" >
      <h3 style="color:white;">Editar Alumno</h3>
      <p style="color:white;">Colegio los Arcos</p>
    </div>
</div>

<%= render 'form', student: @student %>
</div>
<%= link_to 'Back', students_path %>
