<div class="container padding-box">
  <div class="container">
    <div class="box-header" style="width:500px; position:center; margin: 0 auto;">
      <h3 style="color:white;">Nuevo Alumno</h3>
      <p style="color:white;">Colegio los Arcos</p>
    </div>
</div>

<%= render 'form', student: @student %>
</div>
<%= link_to 'Back', students_path %>
