<h1>Editing Subjectsto Classroom</h1>

<%= render 'form', subjectsto_classroom: @subjectsto_classroom %>

<%= link_to 'Show', @subjectsto_classroom %> |
<%= link_to 'Back', subjectsto_classrooms_path %>
