
.circle {
	font-size: 90px;
	color: #009688;
	text-align: center;

 }

 .boton_new{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center{
	width: auto;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.center1{
	margin-top: 10px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
