@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background: #e0e0e0;
	font-family: 'Montserrat';
	padding-top: 0;
}
.charts{
	width: 300px;
	height: 300px;
}
