
<div class="row">
  <div class="col-md-6">
    <div class="widget" style="height:auto; padding-bottom:10px; padding-top:10px;">
      <h1 style="margin-top:10px;">Numero de ausencias</h1>
          <%@count = @absents.count%>
          <p style="text-align:center"><%=@count%></p>
      <h3 style="margin-top:10px;">Colegio Los Arcos</h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget" style="height:auto; padding-bottom:10px; padding-top:10px;">
      <h1 style="margin-top:10px;">Numero de ausencias</h1>
          <%@count = @absents.count%>
          <p style="text-align:center"><%=@count%></p>
      <h3 style="margin-top:10px;">Colegio Los Arcos</h3>
    </div>
  </div>
</div>
